body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #EFEFEF;
}
.main_space{
    width: 1006px;
    margin: 0 auto;
    padding: 0 auto;
}
.top_space{
    width: 100%;
    height: 245px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}
.headline_space{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.haedline_img{
    width: calc(100% / 3);
    margin: 0;
    float: left;
}
.list_text_frame {
    margin-left: 30px ;
    margin-right: 30px;
}
.list_text_CH {
    font-size: 12px; /* 字級大小為 16pt */
    letter-spacing: 6px; /* 字間距為 16pt */
    color: #1E1E1E; /* 字體顏色為黑色 */
    font-family: 'Ming_W7', sans-serif; /* 字體為 Adobe 明體 Std L，若無法使用則使用 sans-serif 作為後備字體 */
    transform: scaleX(1) scaleY(1.4);
}
.list_text_EN {
    font-size: 11px; /* 字級大小為 16pt */
    color: #A2CE00; /* 字體顏色為黑色 */
    font-family: 'Hei_W7', sans-serif; /* 字體為 Adobe 明體 Std L，若無法使用則使用 sans-serif 作為後備字體 */
    transform: scaleX(1) scaleY(1);
}
@media (max-width: 1335px){
    .main_space{
        width: 100%;
    }
    .top_space{
        height: 100px;
    }
}
@font-face {
    font-family: 'Ming_W7';
    src: url('font/DFMingStd-W7.otf') format('opentype');
}
@font-face {
    font-family: 'Hei_W7';
    src: url('font/DFLiHeiStd-W7.otf') format('opentype');
}